/*--------------------------------------------------------------
# Embedded Fonts
--------------------------------------------------------------*/

@font-face {
  font-family: 'Merriweather';
  src: url('../../fonts/merriweather/Merriweather-Bold.eot');
  src: url('../../fonts/merriweather/Merriweather-BoldItalic.eot?#iefix')
      format('embedded-opentype'),
    url('../../fonts/merriweather/Merriweather-BoldItalic.woff2')
      format('woff2'),
    url('../../fonts/merriweather/Merriweather-BoldItalic.woff') format('woff'),
    url('../../fonts/merriweather/Merriweather-BoldItalic.ttf')
      format('truetype'),
    url('../../fonts/merriweather/Merriweather-BoldItalic.svg#Merriweather-BoldItalic')
      format('svg');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Merriweather';
  src: url('../../fonts/merriweather/Merriweather-Light.eot');
  src: url('../../fonts/merriweather/Merriweather-Light.eot?#iefix')
      format('embedded-opentype'),
    url('../../fonts/merriweather/Merriweather-Light.woff2') format('woff2'),
    url('../../fonts/merriweather/Merriweather-Light.woff') format('woff'),
    url('../../fonts/merriweather/Merriweather-Light.ttf') format('truetype'),
    url('../../fonts/merriweather/Merriweather-Light.svg#Merriweather-Light')
      format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Merriweather';
  src: url('../../fonts/merriweather/Merriweather-Bold.eot');
  src: url('../../fonts/merriweather/Merriweather-Bold.eot?#iefix')
      format('embedded-opentype'),
    url('../../fonts/merriweather/Merriweather-Bold.woff2') format('woff2'),
    url('../../fonts/merriweather/Merriweather-Bold.woff') format('woff'),
    url('../../fonts/merriweather/Merriweather-Bold.ttf') format('truetype'),
    url('../../fonts/merriweather/Merriweather-Bold.svg#Merriweather-Bold')
      format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Merriweather';
  src: url('../../fonts/merriweather/Merriweather-LightItalic.eot');
  src: url('../../fonts/merriweather/Merriweather-LightItalic.eot?#iefix')
      format('embedded-opentype'),
    url('../../fonts/merriweather/Merriweather-LightItalic.woff2')
      format('woff2'),
    url('../../fonts/merriweather/Merriweather-LightItalic.woff') format('woff'),
    url('../../fonts/merriweather/Merriweather-LightItalic.ttf')
      format('truetype'),
    url('../../fonts/merriweather/Merriweather-LightItalic.svg#Merriweather-LightItalic')
      format('svg');
  font-weight: 300;
  font-style: italic;
}
//../../fonts/Novecento1/novecento

@font-face {
  font-family: 'Novecento';
  src: url('../../fonts/novecento1/novecento_sans_widedemibold.woff2')
      format('woff2'),
    url('../../fonts/../../fonts/Novecento1/novecento1/cento_sans_widedemibold.woff')
      format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Novecento';
  src: url('../../fonts/novecento1/novecento_sans_widenormal.woff2')
      format('woff2'),
    url('../../fonts/novecento1/novecento_sans_widenormal.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
