.front-page-image {
  background-image: url(../../images/logos/inhabitent-logo-full.svg),
    url(../../images/home-hero.jpg);
  background-repeat: no-repeat, no-repeat;
  background-size: auto, cover;
  background-position: center, center;
  height: 800px;
}
//front-page do, eat, sleep, wear boxes
.product-type-block-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #e1e1e1;
  border-top: 5px solid #e1e1e1;
  text-align: center;
  width: 23%;

  &:hover {
    border-color: darken(#d99054, 10%);
  }

  img {
    padding-top: 10px;
    width: 30%;
  }
  h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    margin-bottom: 4rem;
  }
  ul {
    display: flex;
    flex-direction: row;
    background: blue;
  }

  li {
    display: flex;
    flex-direction: column;
  }
}

.product-type-blocks {
  display: flex;
  justify-content: space-around;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.product-type-block-wrapper {
  padding: 0.75rem;
  a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    padding: 0.75rem 1.5rem;
    background-color: #248a83;
    &:hover {
      background-color: darken(#248a83, 10%);
    }
  }
}

.product-info-container {
  padding-top: 50px;
  h2 {
    font-weight: 400;
    letter-spacing: 2px;
    margin-bottom: 4rem;
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
  }
}

.inhabitent-journal {
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  margin-bottom: 3.5rem;

  h2 {
    font-weight: 400;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    margin-bottom: 70px;
    padding: 0.5rem 0.5rem;
    line-height: 1.25;
  }
  ul {
    display: flex;
    justify-content: space-around;
    margin-left: 0px;
    padding-left: 0px;
  }

  li {
    display: flex;
    flex-direction: column;
    max-width: 30%;
    height: 450px;
    border: 1px solid #e1e1e1;
    text-decoration: none;
    text-align: left;

    .entry-meta-wrapper {
      height: 40%;
      padding: 12px;
      position: relative;
    }
    .entry-meta {
      font-size: 0.75rem;
    }
    .entry-title {
      margin-bottom: 0;
      display: block;
      padding: 0;
      a {
        text-decoration: none;
        font-weight: bold;
        font-size: 1.3rem;
      }
    }

    a.green-btn {
      border: 1px solid black;
      color: black;
      text-transform: uppercase;
      text-decoration: none;
      position: absolute;
      text-align: center;
      padding: 0.5rem 1.75rem;
      bottom: 0;
      &:hover {
        background-color: $link_color;
        color: #fff;
      }
    }
  }

  h2.entry-title {
    text-align: left;
    margin-top: 0px;
    padding-top: 0px;
  }

  img {
    height: 250px;
    width: 100%;
    border-bottom: 5px solid #e1e1e1;
  }
}

.adventure-wrapper {
  padding: 5%;
  .adventure-title {
    text-align: center;
    font-family: 'Novecento';
    margin-bottom: 3.75rem;
    font-weight: 400;
    font-size: 2.4rem;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
}
.adventure-pannels {
  width: 100%;
  height: 600px;
  display: flex;
  font-family: 'Merriweather';
  .story-info {
    display: flex;
    flex-direction: column;
  }

  a {
    text-decoration: none;
    .read {
      border: 1px solid #fff;
      color: #fff;
      text-transform: uppercase;
      text-align: center;
      font-size: 1rem;
      padding: 0.5rem 1.1rem;
    }
  }

  .canoe-girl {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url('../../images/adventure-photos/canoe-girl.jpg') no-repeat center;
    background-size: cover;
    height: 600px;
    width: 50%;
    margin-right: 10px;
    position: relative;
    font-size: 3rem;
    padding: 2%;
    text-transform: capitalize;
    a:visited {
      color: #fff;
      &:hover {
        color: #f0e4d1;
      }
    }
  }
  .adventure-right {
    display: flex;
    flex-direction: column;
    width: 50%;

    .beach-bonfire {
      background: linear-gradient(
          180deg,
          rgba(0, 0, 0, 0.4),
          rgba(0, 0, 0, 0.4)
        ),
        url('../../images/adventure-photos/beach-bonfire.jpg') no-repeat center;
      background-size: cover;
      height: 300px;
      margin-bottom: 10px;
      position: relative;
      font-size: 2.4rem;
      padding: 2%;
      text-transform: capitalize;
      a:visited {
        color: #fff;
        &:hover {
          color: #f0e4d1;
        }
      }
    }
    .adventure-bottom {
      display: flex;
      padding-bottom: 10px;
      .mountain-hikers {
        background: linear-gradient(
            180deg,
            rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.4)
          ),
          url('../../images/adventure-photos/mountain-hikers.jpg') no-repeat
            center;
        background-size: cover;
        height: 300px;
        width: 320px;
        position: relative;
        font-size: 1.6rem;
        padding: 2%;
        text-transform: capitalize;
        a:visited {
          color: #fff;
          &:hover {
            color: #f0e4d1;
          }
        }
      }
      .night-sky {
        background: linear-gradient(
            180deg,
            rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.4)
          ),
          url('../../images/adventure-photos/night-sky.jpg') no-repeat center;
        background-size: cover;
        height: 300px;
        width: 320px;
        margin-left: 10px;
        position: relative;
        font-size: 1.6rem;
        padding: 2%;
        text-transform: capitalize;
        a:visited {
          color: #fff;
          &:hover {
            color: #f0e4d1;
          }
        }
      }
    }
  }
}
