.front-page-image {
  background-image: url(../../images/logos/inhabitent-logo-full.svg),
    url(../../images/home-hero.jpg);
  background-repeat: no-repeat, no-repeat;
  background-size: auto, cover;
  background-position: center, center;
  height: 700px;
}
