#masthead {
  height: 45px;
  width: 100%;
  border-bottom: 1px solid #e1e1e1;
}

.main-navigation {
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
  .nav-search {
    display: flex;
    flex-direction: row;
  }
  .menu-main-menu-container .menu {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: auto;
    li {
      padding: 0 10px;
    }
  }
}
