.sidebar-container {
  max-width: 500px;
  margin: auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
  max-width: 90%;
  padding-top: 40px;
  .entry-header {
    position: relative;
    img {
      width: 100%;
    }
  }
  .entry-title {
    position: absolute;
    top: 0;
    background-color: $color_title_bg;
    padding: 20px;
    max-width: 75%;
    text-align: start;
    a {
      color: white;
      text-transform: uppercase;
    }
  }
  .entry-meta {
    position: absolute;
    bottom: 6px;
    right: 0px;
    background-color: $color_title_bg;
    color: white;
    display: inline-block;
    padding: 7px;
  }
}

.journal-container {
  padding-right: 50px;
  padding-left: 40px;
  padding-bottom: 40px;
  border-right: 1px solid #e1e1e1;
  p {
    padding-right: 180px;
  }
  .journal-readmore {
    border: 1px solid black;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    padding: 0.5rem 1.1rem;
    bottom: 0;
    width: 150px;
    height: 42px;
    &:hover {
      background-color: $link_color;
      color: #fff;
    }
  }
}

//single
.single-wrapper {
  .entry-header {
    position: relative;
  }
  .entry-title {
    position: absolute;
    top: 0;
    padding: 0.75rem 1.5rem;
    font-size: 2.1rem;
    letter-spacing: 2px;
    max-width: 75%;
    text-transform: uppercase;
    color: white;
  }
  .single-content {
    padding-right: 50px;
    border-right: 1px solid #e1e1e1;
  }
  .single-content .entry-meta {
    bottom: 8px;
    right: 0;
    position: absolute;
    text-align: right;
    color: #fff;
    a {
      color: #fff;
      text-decoration: none;
    }
  }
  .widget-title {
    text-transform: uppercase;
  }
}
#respond {
  display: block;
  p {
    display: flex;
    flex-direction: column;
  }
  .comment-form-author {
    float: left;
    margin-right: 1%;
    width: 49%;
  }
  .comment-form-email {
    margin-left: 1%;
    float: left;
    width: 49%;
  }
  .comment-form-url {
    clear: left;
    width: 100%;
    #url {
      width: 100%;
    }
  }
  input {
    background-color: #f4f4f4;
    border: 1px solid #e1e1e1;
    width: 300px;
  }
  textarea {
    background-color: #f4f4f4;
    border: 1px solid #e1e1e1;
  }
  #submit {
    border: none;
    border-radius: 0;
    box-shadow: none;
    padding: 0.75rem 1.5rem;
    font-size: 0.9rem;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    padding: 0.75rem 1.5rem;
    background-color: #248a83;
    width: 125px;
    &:hover {
      background-color: darken(#248a83, 10%);
    }
  }
}

.social-buttons {
  button {
    border: 1px solid black;
    font-size: 0.9rem;
    color: black;
    background-color: #fff;
    border-radius: 0;
    text-transform: uppercase;
    padding: 0.75rem 1.5rem;
    box-shadow: none;
    &:hover {
      color: #fff;
      background-color: $link_color;
    }
  }
}
.entry-footer {
  text-transform: uppercase;
  .cat-links,
  .tags-links {
    padding: 0 10px;
    a {
      color: $link_color;
    }
  }
}

.comment-meta a,
.reply a,
.comment-metadata a {
  color: $link_color;
  text-decoration: none;
}
