// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
  font-size: ($sizeValue * 16) * 1px;
  font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

//Header styling

.site-header {
  // display: flex;
  // justify-content: space-between;

  img {
    max-width: 45px;
  }
}

//Aboout page
body.page-template {
  .entry-header {
    display: flex;
    justify-content: center;
    align-items: center;
    .entry-title {
      font-size: 3rem;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: #fff;
    }
  }
  .entry-content {
    .hero-image-header {
      height: 100vh;
    }
    h1 {
      text-align: center;
      letter-spacing: 2px;
      font-size: 2.1rem;
      text-transform: uppercase;
    }
  }
  h2 {
    text-align: center;
  }
  .entry-content > :not(header) {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
  }
}

// Footer styling
.site-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr;
  grid-template-rows: auto;
  grid-gap: 10px;
  min-height: 250px;
  background-image: url('../../Images/dark-wood.png');
  padding-left: 40px;
  padding-left: 40px;
  .logosvg {
    display: flex;
    justify-content: flex-end;
    padding-top: 50px;
    img {
      width: 80%;
    }
  }
  h3 {
    margin: 0;
    text-transform: uppercase;
    color: #d99054;
    letter-spacing: 2px;
  }
  p {
    color: #fff;
    svg {
      margin-left: 5px;
      margin-right: 5px;
    }
  }
}

//find us
#find-us-wrapper-id {
  display: flex;

  h1 {
    text-transform: uppercase;
    // font-family: $header_font;
  }

  h2 {
    text-transform: uppercase;
    // font-family: $header_font;
  }

  .findus-area {
    width: 3000px;
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 3rem;
    padding-bottom: 3rem;
    border-right: 1px solid #e1e1e1;
    input {
      background-color: #f4f4f4;
      border: 1px solid #e1e1e1;
    }
    textarea {
      background-color: #f4f4f4;
      border: 1px solid #e1e1e1;
    }
    .wpcf7-submit {
      border: none;
      border-radius: 0;
      box-shadow: none;
      padding: 0.75rem 1.5rem;
      // font-family: $header_font;
      font-size: 0.9rem;
      text-decoration: none;
      text-transform: uppercase;
      color: white;
      padding: 0.75rem 1.5rem;
      background-color: #248a83;
      width: 150px;
      &:hover {
        background-color: darken(#248a83, 10%);
      }
    }
  }

  .widget-area {
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 5%;
  }
}

//footer
.contact-info {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  p {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  a {
    text-decoration: none;
    color: inherit;
    &:hover {
      text-decoration: underline;
    }
  }
}

.business-hours {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  p {
    color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .strong {
    font-weight: bold;
  }
}

.footer-copyright {
  grid-column: 1 / 4;
  grid-row: 2;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  background-image: url('../../Images/dark-wood.png');
  padding: 20px;
  .bold {
    color: #fff;
  }
  p {
    margin: 0;
    color: #fff;
  }
}

// find us
.find-us {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 0 90px;
}

#mapDiv {
  min-width: 300px;
}

#error404-wrapper {
  display: flex;

  .site-main {
    padding-right: 5%;
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 3%;
    border-right: 1px solid #e1e1e1;
    width: 73%;
    h2 {
      // font-family: $header_font;
      text-transform: uppercase;
      letter-spacing: 2px;
    }

    .search-field {
      text-transform: capitalize;
      // font-family: $text_font;
      background-color: #f4f4f4;
      width: 200px;
      border-radius: 0;
    }

    a {
      text-decoration: none;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      a {
        // font-family: $text_font;
      }
    }

    .widget {
      left: 0;
    }
  }

  .widget-area {
    padding-left: 5%;
    padding-top: 3rem;
    padding-bottom: 3rem;
    width: 27%;

    h2 {
      text-transform: uppercase;
    }
  }
  h1 {
    // font-family: $header_font;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 2em;
  }
}
