/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/* Links */

/* Menus */
//nav
#site-navigation {
  text-transform: uppercase;
}
.main-navigation {
  clear: both;
  display: block;
  width: 100%;
  height: 50px;
//   position: fixed;
  z-index: 100;
  background-color: hsla(0, 0%, 100%, 0.85);
  border-bottom: 1px solid #e1e1e1;
}