/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/* Links */

/* Menus */
//nav

input {
  text-transform: uppercase;
  width: 250px;
}

#masthead {
  height: 45spx;
  width: 100%;
  border-bottom: 1px solid #e1e1e1;
}

#site-navigation {
  display: flex;
  text-transform: uppercase;
}
.main-navigation {
  clear: both;
  display: block;
  width: 100%;
  padding-right: 80px;
  // position: fixed;
  z-index: 100;
  opacity: 1;
  background-color: hsla(0, 0%, 100%, 0.85);
  border-bottom: 1px solid #e1e1e1;
  a {
    padding: 0;
    color: $link_color;
    &:visited {
      color: $link_color;
    }
    &:hover {
      color: #2f1339;
    }
  }
  .nav-search {
    margin-right: 40px;
    &:hover {
      color: $link_color;
    }
    .search-submit {
      border: none;
      background: none;
      overflow: hidden;
      outline: none;
      outline-color: none;
      padding: 0;
      box-shadow: none;
      color: $link_color;
      float: left;
      .fa-search {
        padding-top: 10px;
      }
      // svg {
      //   width: 30px;
      //   height: 1.2em;
      // }
    }
    .search-field {
      background: transparent;
      &:focus {
        outline: none;
        border: none;
        display: block;
        padding-bottom: 10px;
      }
    }
  }
  a img {
    width: 50px;
    margin-left: 30px;
  }
  ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
    padding-right: 30px;
    padding-bottom: 10px;

    ul {
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
      position: absolute;
      top: $base__space-unit;
      left: -999rem;
      z-index: 10000;

      ul {
        left: -999rem;
        top: 0;
      }

      li {
        &:hover > ul,
        &.focus > ul {
          left: 100%;
        }
      }

      a {
        width: 200px;
      }

      li:hover > ul,
      li.focus > ul {
        left: auto;
      }
    }
    li {
      position: relative;

      a {
        display: block;
        text-decoration: none;
      }
    }
  }
  .search-form {
    display: flex;
    flex-direction: row-reverse;
  }
}
